{
  "extends": ["eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["warn", "single"],
    "indent": ["error", 2]
  }
}
